<!DOCTYPE html>
<html>

<head>
    {% header adaptor="default" %}
    <link rel="stylesheet" href="{{staticRootPath}}/themes/huajing/iconfont/iconfont.css" />
    <link rel="stylesheet" href="{{staticRootPath}}/themes/huajing/css/main.css" />
    {% endheader %}
</head>

<body>
    {% include "./public/header.html" %}

    {% block content %}{% endblock %}


    {% include "./public/footer.html" %}

    <script src="{{staticRootPath}}/themes/huajing/js/jquery-3.5.1.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/bootstrap.bundle.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/bootstrap-slider.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/jquery.countdown.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/jquery.easing.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/owl.carousel.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/validator.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/jquery.waypoints.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/jquery.rcounterup.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/magnific-popup.min.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/hs.megamenu.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/app.js"></script>
    <script src="{{staticRootPath}}/themes/huajing/js/dora.front.js"></script>
</body>

</html>