{% extends "./default.html" %}
{% block content %}
<div class="main">
    <section class="page-header-section ptb-100 gradient-overly-right"
        style="background: url('{{staticRootPath}}/themes/huajing/images/hero-bg-4.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">支持</h1>
                        <p class="lead">
                            中科华晶有着最快速的响应以及处理机制；我司利用自身所积累的技术能力向我们的客户提供光电、光学测试领域的定制化技术服务和产品服务；我们将本着以客户为中心，全心全意为客户服务的优质理念，在售前、售中及售后会全程提供技术支持！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumb-bar py-3 gray-light-bg border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="custom-breadcrumb">
                        <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0 pl-0">
                            <li class="list-inline-item breadcrumb-item"><a href="#">首页</a></li>
                            <li class="list-inline-item breadcrumb-item active"><a href="#">支持</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="feature-promo-seciton ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>我们的支持和承诺</h2>
                        <p class="lead">通过推进战略主题领域，在全球范围内抢占广阔的渠道。 显著聚合质量。</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                        <img src="{{staticRootPath}}/themes/huajing/images/customer-support.svg" alt="shared hosting"
                            class="img-fluid mb-3" width="60">
                        <div class="service-plane-content">
                            <h3 class="h5">24/7/365 支持</h3>
                            <p>无论白天还是黑夜，风雨无阻，无论何时我们的团队都在这里为您服务！</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                        <img src="{{staticRootPath}}/themes/huajing/images/credit-card.svg" alt="shared hosting"
                            class="img-fluid mb-3" width="60">
                        <div class="service-plane-content">
                            <h3 class="h5">质量交付</h3>
                            <p>无论白天还是黑夜，风雨无阻，无论何时我们的团队都在这里为您服务！</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                        <img src="{{staticRootPath}}/themes/huajing/images/money-back.svg" alt="shared hosting"
                            class="img-fluid mb-3" width="60">
                        <div class="service-plane-content">
                            <h3 class="h5">售后服务</h3>
                            <p>我们确保您由具有能力的人提供服务</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="support-category ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading mb-5 text-center">
                        <h2>我们如何定义我们的支持服务</h2>
                        <p class="lead">通过 24/7 外包将团队驱动的利基市场独特地产品化。 通过令人信服的要求方便地实现功能性投资回报。</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-7 col-lg-7">
                    <div class="help-center-left">
                        <h4 class="mb-4">最受欢迎的</h4>
                        <ul class="list-unstyled popular-categories-list">
                            <li class="d-flex align-items-center border rounded py-4 px-4">
                                <div class="icon-wrap mr-4"><span
                                        class="ti-time icon-sm color-5 color-5-bg p-3 rounded"></span></div>
                                <div class="help-center-info">
                                    <h5 class="mb-0">我们的服务</h5>
                                    <p class="mb-0">我们确保产品的各项参数指标;若产品质量不合格，我们将予以免费更换。</p><a class="help-center-box-link" href="#"><i
                                            class="ti-angle-right p-3 rounded-circle primary-bg text-white"></i></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center border rounded py-4 px-4">
                                <div class="icon-wrap mr-4"><span
                                        class="ti-world icon-sm color-3 color-3-bg p-3 rounded"></span></div>
                                <div class="help-center-info">
                                    <h5 class="mb-0">售后服务</h5>
                                    <p class="mb-0">我们确保产品的各项参数指标;若产品质量不合格，我们将予以免费更换。</p>
                                    <a class="help-center-box-link" href="#"><i
                                            class="ti-angle-right p-3 rounded-circle primary-bg text-white"></i></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center border rounded py-4 px-4">
                                <div class="icon-wrap mr-4"><span
                                        class="ti-credit-card icon-sm color-4 color-4-bg p-3 rounded"></span></div>
                                <div class="help-center-info">
                                    <h5 class="mb-0">付款问题</h5>
                                    <p class="mb-0">我们确保产品的各项参数指标;若产品质量不合格，我们将予以免费更换。</p><a class="help-center-box-link" href="#"><i
                                            class="ti-angle-right p-3 rounded-circle primary-bg text-white"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="contact-us-content">
                        <h4>需要即时帮助吗？</h4>
                        <p class="lead">无缝提供大流行电子服务和下一代计划。</p>
                        <a href="#" class="btn outline-btn align-items-center">与我们联系<span
                                class="ti-arrow-right pl-2"></span></a>
                        <hr class="my-5">
                        <h5>联系我们</h5>
                        <p>我们的支持团队 24/7 全天候为您服务</p><span>电话：+1234567890123</span><br><span>
                            邮箱:<a href="email@yourdomain.com" class="link-color">email@yourdomain.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}